@charset "UTF-8";

body {
	background-color: rgb(255, 255, 128);
}

* {
	box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
	margin: 0;
}

h2 {
	margin-bottom: 16px;
}

ul{
	padding: 0;
	list-style-type: none;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	color: #000;
	text-decoration: underline;
}

.center-align{
	width: 800px;
	margin: 0 auto;
}

header {
	background-color: lightblue;
	padding: 10px 0;
	margin-bottom: 20px; 
}

header h1 a:hover {
	text-decoration: none;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: lightblue;
	padding: 10px 0;
}

.container{
	display: flex;
	gap: 20px;
	margin-bottom: 50px;
}

main {
	flex: 1 1 80%
}

aside {
  	flex: 1 1 20%;	
}

.error {
	color: red;
}

/*
* テーブルのデザイン
*/

table {
	border-collapse: collapse;
}

th {
	border: solid 1px #aaa;
	text-align: left;
	padding: 5px 8px;
}

td {
	border: solid 1px #aaa;
	padding: 5px 8px;
}

.no-border {
	border: none;
}

.btn{
	cursor: pointer;
	
}

/*
*  asideのデザイン
*/

aside form {
	margin-bottom: 10px;
}